[submodule "backend"]
	path = backend
	url = git@github.com:TIBHannover/iart-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:TIBHannover/iart-frontend.git
[submodule "indexer"]
	path = indexer
	url = git@github.com:TIBHannover/iart-indexer.git
